.bgSocialLight{
    background: rgba(100, 150, 177, 0.385); 
}
.bgSocialDark{
    background: rgba(37, 91, 121, 0.385); 
}

.home-social a:hover {
    transition:.9s;
    background-color: rgb(44, 88, 211);
 }

a.active { 
    transition:.5s;
    background-color:rgb(44, 88, 211);
    border-radius:50%;
}
